.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card-form {
  width: 100%;
  max-width: 1100px;
  border: 1px solid #3d67da !important;
  box-shadow: 2px 4px 10px 4px #aba7a7;
  background-color: #fff;
}

.card-title {
  border-bottom: 2px solid #aba7a780;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
}

.form-grid {
  display: grid;
  gap: 20px;
  width: 40vw;
  /* width: 100%; */
}

.footer-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
}

.row-cep {
  display: grid;
  grid-template-columns: 300px 140px;
  gap: 10px;
  align-items: end;
}

.row-dados-pessoais {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.row-logradouro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.row-dados-api {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.btn {
  border-radius: 0px;
}

.btn-cancelar {
  background-color: #aba7a7 !important;

}

.btn-submit {
  background-color: #10a71d !important;
  color: #fff;
}

@media (max-width: 768px) {
  .card-content {
    width: 100%;
    box-sizing: border-box;
  }

  .form-grid {
    width: 100%;
  }

  .row-cep,
  .row-dados-pessoais,
  .row-dados-api {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    box-sizing: border-box;
  }

  .footer-actions {
    display: flex;
    justify-content: center;
  }

}